:host {
    @import '~@fortawesome/fontawesome-free/css/all.css';
    .list{
       display: flex;
    }

    .close-icon{
        margin-left: 144px;
        background: #efefef;
        padding: 5px;
        border-radius: 12px;
    }
}